# Variables Operadores de comparacion y logicos
- Las variables son nombres de objetos que residen en memoria
- Una Variabe puede ser nombrada como gustes :
  -El primer caracter no puede ser un numero
  -No Usar simbolos especiales !, @ , # , $ , % etc
  -No debe ser nombrada igual que una palabra reservada
  -A las Variables hay que asignarles un tipo de datos y un valor con el signo =
  -La Variable asignada debera ir al lado izquierdo del = y el valor a asignar al lado derecho
  -Python suguiere  que los nombre de las variables sean de tipo snake_case esto se refire a nombre en minusculas separados
  entre palabras por un guion bajo , por ejemplo el nombre de un estudiante 
  - Tipo Camel Case inician con mayuscula el nombre de cada palabra

In [26]:
# Tipo String
nombe = "Armando"
# Tipo Entero
edad = 20
# Tipo Decimal
precio = 20.8
# Tipo Booleano
aprobado = True
# Tipo Lista
notas = [20,18,17]
# Tipo Tupla
cursos = ('python','django','flask')
# Tipo Diccionarios
empleado = {"A100":"GOMEZ","A200":"RUIZ"}
nombre_estudiante="Armando Ruiz"
NombreEstudiante ="Armando Ruiz"
estudiante="Jose"

In [3]:
# Procedencia de los Operadores
# EXPONENTE **
# NEGACION -
# MULTIPLICACION,DIVISION,DIVISION ENTERA,MODULO
# SUMA , RESTA
res = 3 * 2 + 7
print (res)

13

In [4]:
300 / 300 * 200

200.0

In [5]:
300 * 200 / 300

200.0

In [7]:
# EL exponenete calcula dos elevado a la tres
2 ** 3

8

# Formatos en Python

In [14]:
""" %s  STRING
 %d  INTEGER
 %f  FLOAT """
mentor = "Armando"
curso = "Python"
edad = 43
salario = 1700
print ("%s tiene %d" %(mentor,edad))
print (mentor,"tiene",edad)
print(mentor + "tiene"+ str(edad))

Armando tiene 43
Armando tiene 43
Armandotiene43

In [13]:
consumo =float(input("Ingrese el monto a consumir"))
if consumo <=100:
    des = consumo * 0.10
else:
    des = consumo * 0.20
imp = consumo * 0.15
total = (consumo - des) + imp
print ("El Descuento: {} , El Impuesto {} , El Total {}".format(des,imp,total))

Ingrese el monto a consumir1200
El Descuento: 240.0 , El Impuesto 180.0 , El Total 1140.0

# Procesos Repetitivos
- **break** salir del bucle
- **continue** seguir el proceso

In [21]:
for i in range(1,10):
    if i == 10:
        break
    else:
        print("Aun No Llego a Diez",i)
        continue

Aun No Llego a Diez 1
Aun No Llego a Diez 2
Aun No Llego a Diez 3
Aun No Llego a Diez 4
Aun No Llego a Diez 5
Aun No Llego a Diez 6
Aun No Llego a Diez 7
Aun No Llego a Diez 8
Aun No Llego a Diez 9

In [22]:
#Contadores
#Acumuladores
c=0 
sum=0
for i in range(5):
    valor = int(input("Ingresar Valores:"))
    c += 1 # Trabajar con un caontador dentro de un bucle
    sum += valor # Trabajar con un acumulador de un bucle
print("Cantidad de valores ingresado:",c)
print("Suma de esos valores:",sum)

Ingresar Valores200
Ingresar Valores300
Ingresar Valores100
Ingresar Valores100
Ingresar Valores100
Cantidad de valores ingresado: 5
Suma de esos valores: 800

In [23]:
cursos = ['PYTHON','DJANGO','FLASK']
print(cursos)

['PYTHON', 'DJANGO', 'FLASK']

In [24]:
for item in cursos:
    print("Yo Estudio estos cursos",item)

Yo Estudio estos cursos PYTHON
Yo Estudio estos cursos DJANGO
Yo Estudio estos cursos FLASK

In [27]:
print(estudiante)

Jose

In [38]:
# escribir un programa que pida al usuario una palabra y muestre por pantalla el numero de veces que contiene una vocal
palabra = input("Ingrese la Palabra:")
vocales = ['a','e','i','o','u']
for vocal in vocales:
    con =0
    for letra in palabra:
        if letra == vocal:
            con += 1
    print ("La Vocal: {}  Aparece {} veces".format(vocal,con))

Ingrese la Palabra:murcielago
La Vocal: a  Aparece 1 veces
La Vocal: e  Aparece 1 veces
La Vocal: i  Aparece 1 veces
La Vocal: o  Aparece 1 veces
La Vocal: u  Aparece 1 veces

In [41]:
# while
passw = "codigo"
cont = 0
while True:
    con =input("Ingrese la contraseña para entrer al sistema:")
    if con == passw:
        print("Bienvenido al Sistema")
        break
    else:
        print("La Contraseña errada")
        cont += 1
        if cont == 3:
            print("Supero los intentos , vuelva a intentarlo dentro de 24 Horas")
            break

Ingrese la contraseña para entrer al sistema:codigo
Bienvenido al Sistema

In [45]:
correcto = False
while not correcto:
    password = input("Ingrese contraseña:")
    if len(password) <10 or len(password) >20:
        print("Error , la contraseña no cumple con el formato requerido")
    else:
        correcto =True
        break
print("Contraseña",password,"Aceptada en el formato")

Ingrese contraseña:adminadminadmin
Contraseña adminadminadmin Aceptada en el formato

# Diccionarios

In [49]:
mi_diccionario = {'bolivia':'la paz','argentina':'bns aires','chile':'santiago'}

In [50]:
print(mi_diccionario)

{'bolivia': 'la paz', 'argentina': 'bns aires', 'chile': 'santiago'}

In [51]:
print(mi_diccionario['chile'])

santiago

In [52]:
mi_diccionario['perú']='lima'

In [53]:
print(mi_diccionario)

{'bolivia': 'la paz', 'argentina': 'bns aires', 'chile': 'santiago', 'perú': 'lima'}

In [54]:
del mi_diccionario['chile']
print(mi_diccionario)

{'bolivia': 'la paz', 'argentina': 'bns aires', 'perú': 'lima'}

In [55]:
print(mi_diccionario.values())
print(mi_diccionario.keys())

dict_values(['la paz', 'bns aires', 'lima'])
dict_keys(['bolivia', 'argentina', 'perú'])

In [56]:
clientes = [
    {'nombre':'hector','apellido':'gomez','dni':'10210904'},
    {'nombre':'manuel','apellido':'gomez','dni':'10210905'},
    {'nombre':'pedro','apellido':'gomez','dni':'10210906'},
    {'nombre':'maria','apellido':'gomez','dni':'10210907'},
    {'nombre':'josefina','apellido':'gomez','dni':'10210908'}
]

In [57]:
def bienvenido():
    print("Hola Como estas")

In [58]:
bienvenido()

Hola Como estas

In [62]:
def buscar_cliente(clie,dni):
    for c in clie:
        if (dni == c['dni']):
            print('{} {}'.format(c['nombre'],c['apellido']))
            break
    print("Cliente no esta registrado en nuestra Base de datos")

In [66]:
buscar_cliente(clientes,'10210905')

manuelgomez
Cliente no esta registrado en nuestra Base de datos

In [68]:
#construir una nueva lista que mutiple por dos solo los numeros pares de una lista antigua
numeros =[1,2,3,4,5]
numeros_pares_doblados=[]
for n in numeros:
    if (n % 2 == 0):
        numeros_pares_doblados.append(n*2)
print(numeros_pares_doblados)

[4, 8]

# Comprension de Listas

In [70]:
# [expresion for item in lista condicional]
numeros_pares_doblados=[n*2 for n in numeros if n % 2 == 0]
print(numeros_pares_doblados)

[4, 8]

# Separador
- puede mostrar cualquier caracter entre los argumentos

In [73]:
print("hola","mundo",sep='<->')
print("hola" ,end="")
print("mundo")

hola<->mundo
holamundo

In [72]:
print("Saltos de linea. Viene un salto \n\n ")
print("\t tabuelador \n\n ")
print("comillas .Comillas dentro: \"Hola\" ")

Saltos de linea. Viene un salto


	 tabuelador


comillas .Comillas dentro: "Hola"